.information {
    width: 100%;
    height: 50px;
    background-color: #f7ac45;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f7ac45 10px ), repeating-linear-gradient( #c78a3555, #c78a35 );
    position: fixed;
    top: 0;
    z-index: 1;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px);
}

.info {
    position: absolute;
    top: 10px;
    white-space: nowrap;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 2px #000000;
    animation: scrollText 20s linear infinite;
}

@keyframes scrollText {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media only screen and (max-width: 1024px) {
    .information {display: none;}
}