.policy {
    padding: 1rem .5rem 1rem 1rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.download {
    background-color: #f7ac45;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #f7ac45 10px ), repeating-linear-gradient( #c78a3555, #c78a35 );
    border-radius: .5rem;
    color: #f7f7f7 !important;
    font-weight: bold;
    padding: 1rem;
    margin: 2rem .5rem .5rem;
    white-space: nowrap;
    cursor: pointer;
    position: sticky;
    top: 4rem;
    box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
    transition: all 150ms ease-out;
}

.download:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px;
    transform: scale(0.95);
}

/* @media only screen and (max-widht: 1024px) {
    .policy {flex-wrap: wrap;}
} */