:root {
  --max-width: 2560px;

  --font-berkshire_swash: 'Berkshire Swash', cursive;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: #f7efe6;
  background-image: linear-gradient(135deg, rgba(247, 172, 69, 0.2) 25%, transparent 25%), linear-gradient(225deg, rgba(247, 172, 69, 0.2) 25%, transparent 25%), linear-gradient(45deg, rgba(247, 172, 69, 0.2) 25%, transparent 25%), linear-gradient(315deg, rgba(247, 172, 69, 0.2) 25%, #f7efe6 25%);
  background-position: 8px 0, 8px 0, 0 0, 0 0;
  background-size: 16px 16px;
  background-repeat: repeat;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.northhelper {
  font-family: var(--font-berkshire_swash);
}

.reseauxList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.reseauxListItem {
  padding: .5rem;
}

.reseauxListItemA {
  font-size: 1.2rem;
}

.reseauxListItemASvg {
  transition: all .2s linear;
}

.reseauxListItemASvg:hover {
  transform: scale(1.5);
}

.facebook:hover {
  color: #4267b2;
}

.twitter:hover {
  color: #1A91DA;
}

.instagram:hover {
  color: #be1c6f;
}

.discord:hover {
  color: #6E85D3;
}

.snapchat:hover {color: #cfcd38;}

/* CAROUSEL */
.carousel .control-dots .dot  {
  opacity: 1;
  background: #fff;
}

.carousel .control-dots .dot.selected {
  background-color: #82be20;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #82be20 10px ), repeating-linear-gradient( #8ec43655, #8ec436 );
  width: 10px;
  height: 10px;
}

.arrowStyles:hover {
  color: #82be20 !important;
  transform: scale(1.5);
}

/* ELEMENT (packs, prestations, formules, clients, tags, images) */
.elementsAdmin {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.elementsAdminHead {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.elementsAdminHeadTitle {
  font-size: 2rem;
  color: #f7f7f7;
}

em {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: normal;
  color: #f7f7f7b5;
}

.elementsAdminHeadAdd {
  background-color: #82be20;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #82be20 10px), repeating-linear-gradient(#8ec43655, #8ec436);
  color: #f7f7f7;
  padding: .5rem;
  border-radius: .5rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: all 150ms ease-out;
}

.elementsAdminHeadAdd:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px;
  transform: scale(0.95);
}

.elementsAdminContainer {
  /* margin: 1rem;
  margin-top: 0; */
  overflow: auto;
  overflow-x: hidden;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #fff;
  gap: 2rem;
  width: 100%;
}

.card {
  position: relative;
  width: calc(100% / 3 - 2rem);
  min-width: 300px;
  height: 450px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  transition: 0.5s;
}

.cardSmall {
  height: 200px;
}

.cardMedium {
  height: 300px;
}

.cardBox {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  background: #2a2b2f80;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: 0.5s;
}

.cardBox:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}

.cardBoxContent {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.numero {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8rem;
  font-weight: bold;
  font-style: italic;
  color: rgba(255, 255, 255, 0.1);
  filter: blur(1px);
}

.name {
  font-size: 1.5rem;
  z-index: 1;
  transition: 0.5s;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name em {
  font-size: .7rem !important;
  text-transform: none;
  margin: .3rem 0;
}

.name span {
  font-style: italic;
  text-transform: capitalize;
}

.name span.tag {
  margin: .2rem 0;
}

.info {
  text-align: left;
  flex-direction: column;
  overflow-y: auto;
  margin: .5rem 0;
}

.info p {
  margin: 1rem 0;
  word-wrap: break-word;
}

.infoImage {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: #3c3d3f 0px 0px 0px 3px;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
  color: #82be20;
}

.date {
  display: flex;
  justify-content: space-between;
}

.date em {
  font-size: .7rem;
  display: flex;
  flex-direction: column;
}

/* BUTTON */
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  z-index: 1;
}

.button {
  background: #ffffff30;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
  border-radius: .5rem;
  cursor: pointer;
  width: 100%;
  min-width: 50px;
  height: 50px;
}

.button:hover {
  background: #ffffff20;
}

.button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}

.buttonEdit {
  color: #6088d1;
}

.buttonDelete {
  color: #c03333;
}

.buttonEye {
  color: #82be20;
}

/* Add / Edit Element */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.containerHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: #f7f7f7;
  border-bottom: 1px solid;
}

.containerHead span {
  cursor: pointer;
}

.containerForm {
  overflow: auto;
}

.containerFormForm {
  padding: 1rem;
  overflow: hidden;
}

.containerFormForm label {
  width: 100%;
}

.containerFormForm input {
  background: #30303080;
  color: #f7f7f7;
}

.containerFormForm input::placeholder {
  font-style: italic;
}

.containerFormForm.addElement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.containerFormForm.addElement label {
  width: calc(100% / 3 - .5rem);
}

.containerFormForm.addElement.two label {
  width: calc(100% / 2 - .5rem);
}

.containerFormForm em {
  display: flex;
  align-items: center;
  height: 100px;
}

.containerFormForm .imageEdit {
  margin-left: .5rem;
  object-fit: cover;
  border-radius: 0.5rem;
  height: 100%;
}

.containerFormForm label.fullSize {
  width: 100% !important;
}

.containerFormFormButton {
  all: unset;
  background-color: #82be20;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #82be20 10px), repeating-linear-gradient(#8ec43655, #8ec436);
  padding: 0.6rem;
  border-radius: 0.5rem;
  color: #fff;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: all 150ms ease-out;
}

.containerFormFormButton:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px;
  transform: scale(0.95);
}

/* .numero {
  color: #82be20;
  font-weight: bold;
  font-style: italic;
} */

.mail,
.telephone {
  color: #82be20;
  text-decoration: underline;
}

.premium {
  color: #d7ab5b;
}

/* Toast */
.checkToast {
  color: #82be20;
}

.Toastify__progress-bar--success {
  background-color: #82be20 !important;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #82be20 10px), repeating-linear-gradient(#8ec43655, #8ec436) !important;
}

/* Delete Element */
.containerDelete {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000080;
  z-index: 4;
}

.modalDelete {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  background: #303030;
  color: #f7f7f7;
  border: 1px solid #f7f7f7;
  border-radius: .5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.modalDeleteHead {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #f7f7f7;
  font-weight: bold;
}

.modalDeleteHead h2 {
  margin-right: 2rem;
}

.modalDeleteHead em {
  font-size: 1rem !important;
}

.modalDeleteHead span {
  font-size: 1.5rem;
  cursor: pointer;
}

.modalDeleteHead span:hover {
  color: #f7f7f7b5;
}

.informationDelete {
  color: #82be20;
}

.deleteStrong {
  color: #c03333;
}

.modalDeleteContainer {
  text-align: center;
  padding: 1rem;
  width: 100%;
}

.modalDeleteContainerBtn {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalDeleteContainerBtn button {
  all: unset;
  display: flex;
  align-items: center;
  border-radius: .5rem;
  padding: .5rem;
  margin: 0.5rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: all 150ms ease-out;
}

.modalDeleteContainerBtn button:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px;
  transform: scale(0.95);
}

.icon {
  margin-left: .5rem;
}

.btnAnnuler {
  border: 1px solid grey;
}

.btnAnnuler:hover {
  background: grey;
}

.btnDelete {
  background: #c03333;
}

.btnDelete:hover {
  background: #802323;
}

/* TAG */
.tag {
  padding: .3rem 1rem .3rem .5rem;
  position: relative;
  border-radius: .5rem;
  background: #DEBC83;
  font-weight: bold;
  color: #6F6C5E;
  border: 3px ridge #33250F;
  margin: 0 auto 0 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: .2rem;
}

.tag::before,
.tag::after {
  content: "";
  position: absolute;
  display: block;
  border-width: 1px;
  background-color: #82be20;
}

.tag::before {
  right: -16px;
  top: 0px;
  width: 1rem;
  height: 1.5rem;
  transform: translate(-1px, -1px) scale(1) rotateZ(45deg);
  border-radius: 5px 15px 5px 0;
  border: 3px ridge #fff;
  background: transparent;
}

.tag::after {
  top: 10px;
  right: 1px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #303030;
}

/* Some extra shadow :) */
.tag {
  box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset
}

.tag::before {
  box-shadow: rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset
}

.tag:after {
  box-shadow: inset 2px 3px 3px rgba(0, 0, 0, 0.15);
}

.tag em {
  color: #00000090;
  font-size: .7rem !important;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 10px;
}

/* Corner */
::-webkit-scrollbar-corner {
  visibility: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #f7ac45;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #c78a35;
}

@media only screen and (max-width: 320px) {
  .elementsAdminContainer {margin: 1rem 0;}
}